<!DOCTYPE html>
<html> 
  <head>   
    <title>Title here...</title>
    <link href="/dist/output.css" rel="stylesheet">
  </head>
  <body><img class="book_icon" src="/assets/book.svg" alt="">
    <h3>My Dairy </h3><br><a href="">Day </a><br>
<br>
    <ol> 
      <li>Title1 <img class="Edit_icon" src="/assets/Edit.svg" alt=""><img class="Trash_icon" src="/assets/Trash Can.svg" alt=""></li>
      <li>Title2 <img class="Edit_icon" src="/assets/Edit.svg" alt=""><img class="Trash_icon" src="/assets/Trash Can.svg" alt=""></li>
    </ol>
  </body>
</html>