html 
    head    
        title Title here...
        link(href="/dist/output.css", rel="stylesheet")
    body
       img(class='memorie_group',src="/assets/Group 1544.svg", alt="")
       img(class="book_icon",src="/assets/book.svg", alt="")
       h3 My Dairy 
       <hr>
       input(value="",placeholder='Title here....')
       <br><br><br>
       textarea(name="Description", cols="120", rows="30") 