html 
    head    
        title #{title}
        script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
    body
       nav.navbar.bg-body-tertiary
        .container-fluid
             img(class="book_icon",src="/assets/book.png", alt="")
       img(class='memorie_group',src="/assets/Group 1544.svg", alt="")
       <hr>
       form(action='/addMemories' method='POST')
          .col-sm-8
               input.form-control(class="input_form_memory" name="title" type='text' placeholder="Title Here")
          <br>
          .col-sm-8
               textarea#comment.form-control(class="input_form_memory" name="description"  type='text'   cols="50", rows="20" placeholder="Description")
          .card-footer-text-muted
               input(class="cred_button_signup add" type='submit' value="Add")