doctype html
html
  head    
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous")
    title #{title}
    script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    nav.navbar.bg-body-tertiary
      .container-fluid
        img(class="book_icon",src="/assets/book.png", alt="")
        .d-flex
          a(href="/login" class="lgbutton") LOGIN 
          a(href="/signUp" class="spbutton") SIGN UP
    .container.text-center
      .row.align-items-center
        .col
          img(class="women_img",src="assets/Traveller woman with map and suitcase.svg", alt="")  
        .col
          div(class="main_heading") Your daily journey is coming to digital paper now.
          div(class="second_heading") write whatever you lived and whatever you thought.
          div
            a(href="/signUp" class="trybutton") Try My dairy, its free