doctype html
html 
    head    
      title #{title}
      script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
      link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/style.css")
    body
      nav.navbar.bg-body-tertiary
         .container-fluid
            img(class="book_icon",src="/assets/book.png", alt="")
      br
      
      a(href="") Day 
      br
      br
      ul.list-group
         li.list-group-item Title1
            img(class='Edit_icon',src="/assets/Edit.svg", alt="")
            img(class='Trash_icon',src="/assets/Trash Can.svg", alt="")
         li.list-group-item Title2
            img(class='Edit_icon',src="/assets/Edit.svg", alt="")
            img(class='Trash_icon',src="/assets/Trash Can.svg", alt="")