doctype html
html 
    head    
      title #{title}
      script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
      link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/style.css")
    body
       img(class="book_icon",src="/assets/book.png", alt="")
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       img(class='man_img',src="/assets/A man studies a tourist route.svg", alt="")
       div(class="mainpagenote")  
            h1 My Notes<br>
            h2 As soon as the dream fades away,<br>it disappears among<br> the stars,write without losing.
       
       <br><br><br><br><br><br><br><br><br><br><br>
       a(href='editMemory.html')
          img(class='plus_img',src="/assets/plus.svg", alt="")
       div(class='my_memories')     
            h1 My Memories
       <br><br><br><br>
       img(class='radiobut_img',src="/assets/Group 1544.svg", alt="")
       p now lets loop 
       each item in data  
          p #{item}