html 
    head    
      title #{title}
      script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
      link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
      link(rel="stylesheet" href="/css/style.css")
    body
      nav.navbar.bg-body-tertiary
         .container-fluid
            img(class="book_icon",src="/assets/book.png", alt="")
      br
      .container.text-center
        .row.align-items-center
          .col
            img(class='man_img',src="/assets/A man studies a tourist route.svg", alt="") 
          .col
              div(class="mainpagenote")  
                h1 My Notes<br>
                h2 As soon as the dream fades away,<br>it disappears among<br> the stars,write without losing.
        .row
          .col
              div(class='my_memories')     
                  h1 My Memories 
          .col
            a(href='/addMemory/' + uId)
                img(class='plus_img',src="/assets/plus.svg", alt="")
        for item in memory
          .row 
            .col
              a(href='/single-memory/' + item.noteId)
                p #{item.title}
            .col 
              p #{item.date}
            .col
              a(href='/single-memory-edit/' + item.noteId) 
                img(class='Edit_icon',src="/assets/Edit.svg", alt="")
            .col
              a(href='/delete/' + item.noteId) 
                img(class='Trash_icon',src="/assets/Trash Can.svg", alt="")


      