doctype html
html 
    head    
        title #{title}
        script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/style.css")
    body    
       nav.navbar.bg-body-tertiary
        .container-fluid
             img(class="book_icon",src="/assets/book.png", alt="")
       img(class='memorie_group',src="/assets/Group 1544.svg", alt="")
       hr
       .col-sm-8
            p #{memory.title}
       br
       .col-sm-8
            p #{memory.description}
           
