html
  head
    title #{title}
    script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    a(href="#" class="login_trybutton") Try My dairy,its free
    nav.navbar.bg-body-tertiary
    .container-fluid
      img(class="book_icon",src="/assets/book.png", alt="")
    .d-flex.align-items-center.justify-content-center
      div
        form(action='/register' method='POST')
          .row.mb-3
            h4(for='formpara3') Write whatever you lived and what you thought.
          //- .row.mb-3
          //-   label.col-sm-3.col-form-label(for='username') Username
          //-   .col-sm-8
          //-     input#username.form-control(class="username" name="username" type='text')
          .row.mb-3
            label.col-sm-3.col-form-label(for='email') Email
            .col-sm-8
              input.form-control(name="email" type='email')
          .row.mb-3
            label.col-sm-3.col-form-label(for='password') Password
            .col-sm-8
              input.form-control(name="password" type='password')
          div
            input(class="cred_button_signup" type='submit' value="Sign up")
        br
        .login_signup Already a Member? 
          a(href="/signupPage") LOGIN       