html
  head
    title #{title}
    script(language="javascript" src="/bootstrap/js/bootstrap.min.js")
    link(rel="stylesheet" href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/style.css")
  body
    a(href="#" class="login_trybutton") Try My dairy,its free
    img(class="book_icon",src="/assets/book.png", alt="")
    <br><br>
    <br>
    form(action="mainPage.html" method="post" align="center")
          label(class="signup_lbl" for="fullname") Full Name
          input(class="login_input" type="text" name="Fullname" placeholder="Your user name...")  
          br
          br
          label(class="signup_lbl" for="DOB") DOB
          input(class="login_input" type="date" name="date")
          br
          br
          label(class="signup_lbl" for="email") Email
          input(class="login_input" type="text" name="Email" placeholder="Your Email here...")
          br
          br
          label(class="signup_lbl" for="password") Password
          input(class="login_input" type="password" name="password" placeholder="Your password...")
          br
          br
          //- input(class="trybutton" type="submit" name="signup" value="SIGNUP")
          a(href="mainPage.html" class="trybutton") SIGNUP
          br
          br
    h3(class="login_signup") Already have an Account? 
       a(href="loginPage.html") LOGIN       